@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background: #DDD;
  font-size: 16px;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#dash-box {
  position: relative;
  margin: 5% auto;
  margin-right: 150px;
  flex: 0.8;
  background: #ededed;
  border-radius: 2rem;
  display: flex;
  height: 100%;
}

.dash{
  display: flex;
}

.left {
  position: relative;
  margin-left: 5px;
  box-sizing: border-box;
  flex: 0.2;
}

.profile-left {
  position: relative;
  top: 10%;
  left: 0;
  box-sizing: border-box;
  flex: 0.2;
  justify-content: center;
  margin: 5%;
  height: 700px;
}

.company-name {
  position: absolute;
  width: 230px;
  height: auto;
  text-align: center;
  top: 40%;
  background: #F9F9F9;
  margin-left: 12%;
  border-radius: 2rem;
}

.profile-picture-left {
  background-image: url('../images/profilePic2.png');
  background-repeat: no-repeat;
  height: 300px;
  margin-left: 12%;
}
.profile-picture {
  background-image: url('../images/profilePic.png');
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  height: 110px;
  border-radius: 50%;
}

.saved-posts{
  background: #ECECEC;
  height: inherit;
  width: 230px;
  margin-left: 12%;
  margin-top: 5%;
  display: inline-table;
}

.saved-post-img{
  background-image: url('../images/saved.png');
  background-repeat: no-repeat;
  width: auto;
  height: 50px;
  margin: 5%;
}

.saved-name{
 margin: 5px;
 background: #F9F9F9;
 height: auto;
 width: inherit;
 text-align: center;
 border-radius: 1rem;
}

.message {
  background-image: url('../images/message.png');
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  height: 90px;
  border-radius: 50%;
}

.phone {
  background-image: url('../images/call.png');
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  height: 90px;
  border-radius: 50%;
}

.post {
  position: relative;
  top: 40px;
  right: 50px;
  padding: 10px;
  background: #e3e3e3;
  border-radius: 1rem;
  margin-right: 10px;
  flex: 0.8;
}

.post-desc {
  background: #C4C4C4;
  width: auto;
  height: auto;
  border-radius: 1rem;
  padding: 10px;
}

.name {
  background: #C4C4C4;
  width: auto;
  height: 50px;
  border-radius: 1rem;
  font-size: xx-large;
}

.description {
  background: #C4C4C4;
  width: auto;
  height: 70px;
  border-radius: 1rem;
  font-size: x-large;
  font-style: italic;
}

.price {
  background: #6ABD5C;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  padding: 20px;
  font-size: x-large;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: 0 7px 17px rgba(0, 0, 0, 0.4);
}

.post-image{
  background-image: url('../images/postPic.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: auto;
  height: 530px;
  border-radius: 1rem;
  font-size: x-large;
  font-style: italic;
  margin-top: 15px;
}
